/* newLog.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.required {
    color: red;
    font-weight: normal;
    margin-left: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 40px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.passwordGroup {
    position: relative;
}

.passwordContainer {
    display: flex;
    align-items: center;
}

.togglePassword {
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.dateContainer {
    display: flex;
    gap: 10px;
}
.dateItem {
    display: flex;
    align-items: center;
}
.dateItem label {
    margin-right: 31px;
}
